x-stockpile,
x-foundation-pile,
x-tableau-column,
x-card-stack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-border-radius);
  border: 5px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: visible;
}

x-tableau-column {
  x-card {
    top: calc(var(--i) * 32px);
    left: 4px;
  }
}
