x-deck-stack,
x-card-stack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--card-border-radius);
  border: 5px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: visible;
}

x-deck-stack[overlap],
x-card-stack[overlap] {
  x-card {
    top: calc(4px + min(calc(var(--i) * 10px), calc(13 * 10px)));
    left: 4px;
  }
}

